body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Calibri, sans-serif;
}

#loader header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#toggle-loader {
  margin-left: 10px;
}

code {
  line-height: 2;
}

code > input {
  background-color: inherit;
  font-family: inherit;
}

#cy {
  z-index: 0;
  height: 100%;
  width: 100%;
}

#loader {
  z-index: 1;
  position: absolute;
  padding: 10px;
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 10px;
  transition: opacity 0.2s;
}

#loader-content {
  margin-top: 10px;
}

#loader-content details {
  margin-top: 15px;
}

#loader-content ul {
  padding: 0;
  list-style-position: inside;
}

#loader:not(:hover) {
  opacity: 0.5;
}

#strace-output {
  width: 100%;
}

#run-form {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#run-form > button {
  margin-left: 5px;
}

#speed-controller {
  z-index: 1;
  position: absolute;
  right: 0;
  align-items: center;
  display: flex;
  padding: 20px;
  visibility: hidden;
}

#speed-controller > * {
  margin-right: 5px;
}

#speed-value-input {
  width: 10ch;
}

#cytoscape-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
