body {
  font-family: Calibri, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

code {
  line-height: 2;
}

code > input {
  background-color: inherit;
  font-family: inherit;
}

summary {
  cursor: pointer;
  text-decoration: underline;
}

.color::before {
  content: '';
  display: inline-block;
  margin-right: 0.3em;
  width: 0.8em;
  height: 0.8em;
  outline: 0.1em solid black;
}
.color.grey::before {
  background-color: #CCC;
}
.color.orange::before {
  background-color: coral;
}
.color.green::before {
  background-color: mediumaquamarine;
}
.color.red::before {
  background-color: tomato;
}
.color.purple::before {
  background-color: darkslateblue;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

#top {
  position: absolute;
  width: 100%;
}

#progress-line {
  background-color: orange;
  height: 1vh;
  width: 0;
}

#loader {
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 10px;
  padding: 10px;
  transition: opacity 0.2s;
  z-index: 1;
}

#loader header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

#loader:not(:hover) {
  opacity: 0.8;
}

#loader-content {
  margin-top: 10px;
}

#loader-content details {
  margin-top: 15px;
}

#loader-content ul {
  list-style-position: inside;
  padding: 0;
}

#toggle-loader {
  margin-left: 10px;
}

#strace-output {
  width: 100%;
}

#run-form {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

#run-form > button {
  margin-left: 5px;
}

#speed-controller {
  align-items: center;
  display: flex;
  padding: 20px;
  visibility: hidden;
  z-index: 1;
}

#speed-controller > * {
  margin-right: 5px;
}

label[for="speed-slider"] {
  cursor: help;
}

#speed-value-input {
  width: 10ch;
}

#cy {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#cytoscape-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
